* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #656;
}

.header {
    width: 80%;
    margin: auto;
    background-color: rgb(119, 38, 38);
}


h1 {
    text-align: center;
    color: white;
    padding-top: 5%;
}

.inputToDo {
    margin-left: 30%;
    width: 40%;
    margin-top: 7%;
    margin-bottom: 1%;
    height: 40px;
    padding: 0% 1%;
}

.button {
    height: 40px;
    width: 40px;
    background-color: #888;
    border: 0px;
    cursor: pointer;
    color: white;
}

.elements {
    width: 80%;
    margin: auto;
}

.item {
    background-color: #444;
    color: white;
    padding: 3% 6% 3% 5%;
    border: 1px solid black;
    position: relative;
}

.delete {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-2%, -50%);
    cursor: pointer;
    color: white;
    background-color: red;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}